<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.howinai.ireserveavailability"
    android:versionCode="2"
    android:versionName="1.1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ireserve"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >

        <service android:name=".MyService">
            <intent-filter>
                <action android:name="com.howinai.ireserveavailability.interval" />
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:icon="@drawable/ireserve"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.howinai.ireserveavailability.bgtime" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
